    .main-container {
      display: inline-block;
    }

    .main-container::before,
    .main-container::after {
      content: "Before element";
      color: red;
    }

    .main-container::after {
      content: "After element";
    }
