 .main-container {
      display: inline-block;
    }

    .main-container::before,
    .main-container::after {
      content: "Before Element";
      color: red;
    }

    .main-container::after {
      content: "After Element";
    }